<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.greedy.waterfall.issue.model.mapper.IssueMapper">
     <resultMap type="com.greedy.waterfall.issue.model.dto.IssueDTO" id="issueResultMap">
        <id property="no" column="ISSUE_NO"></id>
        <result property="rnum" column="RNUM"/>
        <result property="name" column="ISSUE_NAME"/>
        <result property="createdDate" column="ISSUE_CREATED_DATE"/>
        <result property="progressStatus" column="ISSUE_PROGRESS_STATUS"/>
        <result property="importance" column="ISSUE_IMPORTANCE"/>
        <result property="content" column="ISSUE_CONTENT"/>
        <result property="deadline" column="ISSUE_DEADLINE"/>
        <result property="completedDate" column="ISSUE_COMPLETED_DATE"/>
        <result property="status" column="ISSUE_STATUS"/>
        <result property="registerNo" column="ISSUE_REGISTER"/>
        <result property="managerNo" column="ISSUE_MANAGER"/>
        <result property="projectNo" column="PROJECT_NO"/>
        <result property="taskNo" column="TASK_NO"/>
        
        <association property="register" resultMap="registerResultMap"/>
        <association property="manager" resultMap="managerResultMap"/>
        <association property="project" resultMap="projectResultMap"/>
        <association property="task" resultMap="taskResultMap"/>
        <association property="taskCode" resultMap="taskCodeResultMap"/>
     </resultMap>
     
     <resultMap type="com.greedy.waterfall.issue.model.dto.IssueRegisterDTO" id="registerResultMap">
     	<id property="no" column="ISSUE_REGISTER"/>
     	<result property="name" column="REGISTER_NAME"/>
     </resultMap>
     
     <resultMap type="com.greedy.waterfall.issue.model.dto.IssueManagerDTO" id="managerResultMap">
     	<id property="no" column="ISSUE_MANAGER"/>
     	<result property="name" column="MANAGER_NAME"/>
     </resultMap>
  
  	<resultMap type="com.greedy.waterfall.issue.model.dto.IssueProjectDTO" id="projectResultMap">
  		<id property="no" column="PROJECT_NO"/>
  		<result property="name" column="PROJECT_NAME"/>
  	</resultMap>
  	
  	<resultMap type="com.greedy.waterfall.issue.model.dto.IssueTaskDTO" id="taskResultMap">
  		<id property="no" column="TASK_NO"/>
  		<result property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
  		<result property="taskRefNo" column="TASK_REF_NO"/>
  	</resultMap>
  	
  	<resultMap type="com.greedy.waterfall.issue.model.dto.IssueTaskCodeManageDTO" id="taskCodeResultMap">
  		<id property="taskCategoryCode" column="TASK_CATEGORY_CODE"/>
  		<result property="taskCategoryName" column="TASK_CATEGORY_NAME"/>
  	</resultMap>
  	
  	<resultMap type="com.greedy.waterfall.issue.model.dto.ProjectIssueCountDTO" id="projectIssueCountResultMap">
  		<id property="projectNo" column="PROJECT_NO"/>
  		<result property="projectName" column="PROJECT_NAME"/>
  		<result property="allIssueCount" column="ALL_ISSUE_COUNT"/>
  		<result property="pendingIssueCount" column="PENDING_ISSUE_COUNT"/>
  		<result property="processingIssueCount" column="PROCESSING_ISSUE_COUNT"/>
  		<result property="completedIssueCount" column="COMPLETED_ISSUE_COUNT"/>
  		<result property="managerNo" column="PM_NO"/>
  		<result property="pmName" column="PM_NAME"/>
  		
  		<association property="project" resultMap="projectResultMap"/>
  	</resultMap>
  	
  	<resultMap type="com.greedy.waterfall.issue.model.dto.TaskIssueCountDTO" id="taskIssueCountResultMap">
  		<id property="taskNo" column="TASK_NO"/>
  		<result property="projectNo" column="PROJECT_NO"/>
  		<result property="allIssueCount" column="ALL_TASK_ISSUE_COUNT"/>
  		<result property="pendingIssueCount" column="PENDING_TASK_ISSUE_COUNT"/>
  		<result property="processingIssueCount" column="PROCESSING_TASK_ISSUE_COUNT"/>
  		<result property="completedIssueCount" column="COMPLETED_TASK_ISSUE_COUNT"/>
  		<result property="managerNo" column="MEMBER_NO"/>
  		<result property="managerName" column="MEMBER_NAME"/>
  		<result property="taskCodeManageName" column="TASK_CATEGORY_NAME"/>
  		
  		<association property="task" resultMap="taskResultMap"/>
  		<association property="taskCode" resultMap="taskCodeResultMap"/>
  		<association property="manager" resultMap="managerResultMap"/>
  		<association property="project" resultMap="projectResultMap"/>
  	</resultMap>
  	
  	
	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
	 SELECT /* com.greedy.waterfall.issue.model.mapper.IssueMapper#selectTotalCount() */
	 	    COUNT(*)
	   FROM TBL_ISSUE A
	  <where>
	 	<if test="searchCondition == 'title'">
	    	A.ISSUE_NAME LIKE '%' || #{ searchValue } || '%'
	 	</if>
	 	<if test="searchCondition == 'content'">
	 		A.ISSUE_CONTENT LIKE '%' || #{ searchValue } || '%'
	 	</if>
	   AND A.ISSUE_STATUS = 'Y'
	 </where> 	    
	</select>
 
 <!-- 페이징, 검색기능 구현한 서브쿼리문, 프론트 페이지에서 지원해줘서 따로 넣을 필요를 못느꼈지만
 혹시나 사용할 일이 있을지 몰라서 넣어놓음 --> 	
 <!--  	<select id="selectAllIssueList" resultMap="issueResultMap">
  	SELECT /* com.greedy.com.greedy.waterfall.issue.model.mapper.IssueMapper#selectAllIssueList() */
            A.RNUM
          , A.ISSUE_NO
          , A.ISSUE_NAME
          , A.ISSUE_CREATED_DATE
		  , A.ISSUE_PROGRESS_STATUS
		  , A.ISSUE_IMPORTANCE
		  , A.ISSUE_CONTENT
		  , A.ISSUE_DEADLINE
		  , A.ISSUE_COMPLETED_DATE 
		  , A.ISSUE_STATUS
		  , A.ISSUE_REGISTER
		  , A.PROJECT_NO
		  , A.ISSUE_MANAGER 
		  , A.TASK_NO
		  , D.MEMBER_NAME AS REGISTER_NAME
		  , H.MEMBER_NAME AS MANAGER_NAME
		  , E.PROJECT_NAME
		  , G.TASK_CATEGORY_NAME
      FROM ( SELECT ROWNUM RNUM
                  , B.ISSUE_NO
                  , B.ISSUE_NAME
                  , B.ISSUE_CREATED_DATE
		          , B.ISSUE_PROGRESS_STATUS
		          , B.ISSUE_IMPORTANCE
		          , B.ISSUE_CONTENT
		          , B.ISSUE_DEADLINE
		          , B.ISSUE_COMPLETED_DATE
		          , B.ISSUE_STATUS
		          , B.ISSUE_REGISTER
		          , B.PROJECT_NO
		          , B.ISSUE_MANAGER
		          , B.TASK_NO
               FROM ( SELECT  C.ISSUE_NO
  		                    , C.ISSUE_NAME
  		                    , C.ISSUE_CREATED_DATE
			                , C.ISSUE_PROGRESS_STATUS
			                , C.ISSUE_IMPORTANCE
			                , C.ISSUE_CONTENT
			                , C.ISSUE_DEADLINE
			                , C.ISSUE_COMPLETED_DATE
			                , C.ISSUE_STATUS
			                , C.ISSUE_REGISTER
			                , C.PROJECT_NO
			                , C.ISSUE_MANAGER
			                , C.TASK_NO
		                 FROM TBL_ISSUE C
		                <where>
		                 <if test="searchCondition == 'title'">
		  	                 C.ISSUE_NAME LIKE '%' || #{ searchValue } || '%'
		                 </if>
		                 <if test="searchCondition == 'content'">
		  	                 C.ISSUE_CONTENT LIKE '%' || #{ searchValue } || '%'
		                 </if>
		                 AND C.ISSUE_STATUS = 'Y'
		               </where> 
		               ORDER BY ISSUE_NO DESC
		               ) B
				       <![CDATA[
				       WHERE ROWNUM <= #{ endRow }
				       ]]>
				       ) A
				  JOIN TBL_MEMBER D ON (A.ISSUE_REGISTER = D.MEMBER_NO)
				  JOIN TBL_PROJECT E ON (A.PROJECT_NO = E.PROJECT_NO)
				  JOIN TBL_TASK F ON (A.TASK_NO = F.TASK_NO)
				  JOIN TBL_TASK_CODE_MANAGE G ON (F.TASK_CATEGORY_CODE = G.TASK_CATEGORY_CODE)
				  JOIN TBL_MEMBER H ON (A.ISSUE_MANAGER = H.MEMBER_NO)
			     WHERE A.RNUM >= #{ startRow }
			     ORDER BY 1 ASC 
  	</select> -->
  	
  <select id="selectIssueList" parameterType="_int" resultMap="issueResultMap">
 	SELECT /* com.greedy.com.greedy.waterfall.issue.model.mapper.IssueMapper#selectAllIssueList() */
            A.ISSUE_NO
          , A.ISSUE_NAME
          , A.ISSUE_CREATED_DATE
		  , A.ISSUE_PROGRESS_STATUS
		  , A.ISSUE_IMPORTANCE
		  , A.ISSUE_CONTENT
		  , A.ISSUE_DEADLINE
		  , A.ISSUE_COMPLETED_DATE 
		  , A.ISSUE_STATUS
		  , A.ISSUE_REGISTER
		  , A.PROJECT_NO
		  , A.ISSUE_MANAGER 
		  , A.TASK_NO
		  , D.MEMBER_NAME AS REGISTER_NAME
		  , H.MEMBER_NAME AS MANAGER_NAME
		  , E.PROJECT_NAME
		  , G.TASK_CATEGORY_NAME
     FROM TBL_ISSUE A 
     JOIN TBL_MEMBER D ON (A.ISSUE_REGISTER = D.MEMBER_NO)
     JOIN TBL_PROJECT E ON (A.PROJECT_NO = E.PROJECT_NO)
     JOIN TBL_TASK F ON (A.TASK_NO = F.TASK_NO)
     JOIN TBL_TASK_CODE_MANAGE G ON (F.TASK_CATEGORY_CODE = G.TASK_CATEGORY_CODE)
     JOIN TBL_MEMBER H ON (A.ISSUE_MANAGER = H.MEMBER_NO)
    WHERE A.TASK_NO = #{ taskNo }
      AND A.ISSUE_STATUS = 'Y' 
   </select>
   
   <select id="selectAllIssue" resultMap="issueResultMap">
 	SELECT /* com.greedy.com.greedy.waterfall.issue.model.mapper.IssueMapper#selectAllIssueList() */
            A.ISSUE_NO
          , A.ISSUE_NAME
          , A.ISSUE_CREATED_DATE
		  , A.ISSUE_PROGRESS_STATUS
		  , A.ISSUE_IMPORTANCE
		  , A.ISSUE_CONTENT
		  , A.ISSUE_DEADLINE
		  , A.ISSUE_COMPLETED_DATE 
		  , A.ISSUE_STATUS
		  , A.ISSUE_REGISTER
		  , A.PROJECT_NO
		  , A.ISSUE_MANAGER 
		  , A.TASK_NO
		  , D.MEMBER_NAME AS REGISTER_NAME
		  , H.MEMBER_NAME AS MANAGER_NAME
		  , E.PROJECT_NAME
		  , G.TASK_CATEGORY_NAME
     FROM TBL_ISSUE A 
     JOIN TBL_MEMBER D ON (A.ISSUE_REGISTER = D.MEMBER_NO)
     JOIN TBL_PROJECT E ON (A.PROJECT_NO = E.PROJECT_NO)
     JOIN TBL_TASK F ON (A.TASK_NO = F.TASK_NO)
     JOIN TBL_TASK_CODE_MANAGE G ON (F.TASK_CATEGORY_CODE = G.TASK_CATEGORY_CODE)
     JOIN TBL_MEMBER H ON (A.ISSUE_MANAGER = H.MEMBER_NO)
    WHERE A.ISSUE_STATUS = 'Y' 
   </select>
  	
  	<select id="selectAllProjectList" parameterType="hashmap" resultMap="projectIssueCountResultMap">
  	  SELECT DISTINCT /* com.greedy.com.greedy.waterfall.issue.model.mapper.IssueMapper#selectAllProjectList() */
            ( A.PROJECT_NO)
            , A.PROJECT_NAME
            , (SELECT
                         COUNT(C.ISSUE_NO)
                   FROM TBL_ISSUE C 
                   WHERE C.ISSUE_STATUS = 'Y'
                     AND C.PROJECT_NO = B.PROJECT_NO
                  ) AS ALL_ISSUE_COUNT
                , ( SELECT
                           COUNT(D.ISSUE_NO) 
                      FROM TBL_ISSUE D
                     WHERE D.ISSUE_STATUS = 'Y'
                       AND D.ISSUE_PROGRESS_STATUS = '대기중'
                       AND D.PROJECT_NO = B.PROJECT_NO
                  ) AS PENDING_ISSUE_COUNT
                , ( SELECT
                           COUNT(E.ISSUE_NO)  
                      FROM TBL_ISSUE E
                     WHERE E.ISSUE_STATUS = 'Y'
                       AND E.ISSUE_PROGRESS_STATUS = '처리중'
                       AND E.PROJECT_NO = B.PROJECT_NO
                   ) AS PROCESSING_ISSUE_COUNT
                 , ( SELECT
                            COUNT(F.ISSUE_NO) 
                       FROM TBL_ISSUE F
                      WHERE F.ISSUE_STATUS = 'Y'
                        AND F.ISSUE_PROGRESS_STATUS = '완료'
                        AND F.PROJECT_NO = B.PROJECT_NO
                    ) AS COMPLETED_ISSUE_COUNT
            , H.MEMBER_NO AS PM_NO
            , H.MEMBER_NAME AS PM_NAME
           FROM TBL_PROJECT A
          LEFT JOIN TBL_ISSUE B ON (A.PROJECT_NO = B.PROJECT_NO)
            JOIN TBL_ROLE_ASSIGNMENT_HISTORY G ON (A.PROJECT_NO = G.PROJECT_NO)
            JOIN TBL_MEMBER H ON (G.MEMBER_NO = H.MEMBER_NO)
          WHERE A.PROJECT_STATUS = 'Y'
<!--            <if test="mangerNo != 1"> -->
            AND G.ROLE_HISTORY_NO IN (SELECT MAX(J.ROLE_HISTORY_NO)
                                   FROM TBL_ROLE_ASSIGNMENT_HISTORY J
                                  WHERE J.ROLE_NO = 8
                                  GROUP BY J.PROJECT_NO
                                )
            AND G.ROLE_NO = 8
    <!--        </if>
            <if test="mangerNo == 1">
             AND G.ROLE_NO = 1
           </if> -->
           <if test="managerNo != 1">
           	AND G.MEMBER_NO = #{ managerNo } 
           </if>
  	</select>
  	
  	<select id="selectIssuesOfTask" parameterType="_int" resultMap="taskIssueCountResultMap" >
  		SELECT DISTINCT
                A.TASK_NO
              , C.TASK_CATEGORY_NAME
              , I.MEMBER_NAME
			  , (SELECT
                         COUNT(D.ISSUE_NO)
	                FROM TBL_ISSUE D 
                   WHERE D.ISSUE_STATUS = 'Y'
                     AND D.TASK_NO = B.TASK_NO
                  ) AS ALL_TASK_ISSUE_COUNT
                , ( SELECT
                           COUNT(E.ISSUE_NO) 
                      FROM TBL_ISSUE E
                     WHERE E.ISSUE_STATUS = 'Y'
                       AND E.ISSUE_PROGRESS_STATUS = '대기중'
                       AND E.TASK_NO = B.TASK_NO
                  ) AS PENDING_TASK_ISSUE_COUNT
                , ( SELECT
                           COUNT(F.ISSUE_NO)  
                      FROM TBL_ISSUE F
                     WHERE F.ISSUE_STATUS = 'Y'
                       AND F.ISSUE_PROGRESS_STATUS = '처리중'
                       AND F.TASK_NO = B.TASK_NO
                   ) AS PROCESSING_TASK_ISSUE_COUNT
                 , ( SELECT
                            COUNT(G.ISSUE_NO) 
                       FROM TBL_ISSUE G
                      WHERE G.ISSUE_STATUS = 'Y'
                        AND G.ISSUE_PROGRESS_STATUS = '완료'
                        AND G.TASK_NO = B.TASK_NO
                    ) AS COMPLETED_TASK_ISSUE_COUNT
           FROM TBL_ISSUE A
           JOIN TBL_TASK B ON (A.TASK_NO = B.TASK_NO)
           JOIN TBL_TASK_CODE_MANAGE C ON (B.TASK_CATEGORY_CODE = C.TASK_CATEGORY_CODE)
           JOIN TBL_PROJECT H ON (A.PROJECT_NO = H.PROJECT_NO)
           JOIN TBL_MEMBER I ON (B.MEMBER_NO = I.MEMBER_NO)
          WHERE A.ISSUE_STATUS = 'Y'
	        AND H.PROJECT_STATUS = 'Y'
	        AND B.TASK_STATUS = 'Y'
	        AND A.PROJECT_NO = #{ projectNo }
  	</select>
  	
   	<select id="selectTask" parameterType="_int" resultMap="issueResultMap" >
  		SELECT
  		       A.TASK_NO
  		       C.TASK_CATEGORY_NAME
  		  FROM TBL_ISSUE A
  		  JOIN TBL_TASK B ON (A.TASK_NO = B.TASK_NO)
  		  JOIN TBL_TASK_CODE_MANAGE C ON (B.TASK_CATEGORY_CODE = C.TASK_CATEGORY_CODE)
  		 WHERE TBL_TASK = 'Y'
  		   AND A.TASK_NO = #{ no }   
  	</select>
  	
  	<insert id="" parameterType="com.greedy.waterfall.issue.model.dto.IssueDTO" >
  		INSERT
		  INTO TBL_ISSUE A
	    ( 
		  A.ISSUE_NO
	    , A.ISSUE_NAME
	    , A.ISSUE_CREATED_DATE
	    , A.ISSUE_PROGRESS_STATUS
		, A.ISSUE_IMPORTANCE
		, A.ISSUE_CONTENT
	    , A.ISSUE_DEADLINE
	    , A.ISSUE_COMPLETED_DATE
	    , A.ISSUE_REGISTER
		, A.PROJECT_NO
		, A.TASK_NO
		)
		VALUES
		(
		  ISSEU_NO.NEXTVAL
		, #{ name }
		, #{ progressStatus }
		, #{ importance }
		, #{ content }
		, #{ deadline }
		, #{ completedDate }
		, #{ registerNo }
		, #{ projectNo }
		, #{ taskNo }
	    )
  	</insert>
  
  </mapper>