<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.greedy.waterfall.board.model.mapper.GuideMapper">
  	<resultMap type="com.greedy.waterfall.board.model.dto.GuideDTO" id="guideResultMap">
  		<id property="no" column="BOARD_NO"></id>
  		<result property="postingDate" column="BOARD_POSTING_DATE"/>
  		<result property="title" column="BOARD_TITLE"/>
  		<result property="content" column="BOARD_CONTENT"/>
  		<result property="status" column="BOARD_STATUS"/>
  		<result property="projectNo" column="PROJECT_NO"/>
  		<result property="categoryNo" column="BOARD_CATEGORY_NO"/>
  		<result property="updatedDate" column="BOARD_UPDATED_DATE"/>
  		<result property="count" column="BOARD_COUNT"/>
  		<result property="writerMemberNo" column="MEMBER_NO"/>
  		<result property="rnum" column="RNUM"/>
  		<result property="fileNo" column="FILE_NO"/>
  		<result property="originalName" column="FILE_ORIGIN_NAME"/>
  		
  		<association property="writer" resultMap="memberResultMap"/>
  		<association property="file" resultMap="fileResultMap"/>
  	</resultMap>
  	
  	<resultMap type="com.greedy.waterfall.board.model.dto.GuideMemberDTO" id="memberResultMap">
  		<id property="no" column="MEMBER_NO"/>
  		<result property="name" column="MEMBER_NAME"/>
  	</resultMap>
  	
  	<resultMap type="com.greedy.waterfall.board.model.dto.GuideFileDTO" id="fileResultMap">
  		<id property="fileNo" column="FILE_NO"/>
  		<result property="refBoardNo" column="REF_BOARD_NO"/>
  		<result property="savedPath" column="FILE_PATH"></result>
  		<result property="originalName" column="FILE_ORIGIN_NAME"></result>
  		<result property="randomName" column="FILE_RANDOM_NAME"></result>
  		<result property="status" column="FILE_STATUS"></result>
  		<result property="fileCategoryNo" column="FILE_CATEGORY_NO"></result>
  	</resultMap>
  	
  <!-- 게시판의 게시글 목록 조회, 페이징처리, 검색 값에 따른 게시글 목록 조회 -->
  <select id="selectAllGuideList" parameterType="com.greedy.waterfall.common.paging.SelectCriteria" resultMap="guideResultMap"> 
  SELECT /* com.greedy.waterfall.board.model.guidemapper.GuideMapper#selectAllGuideList() */
  	       A.RNUM
  	     , A.BOARD_NO
  	     , A.BOARD_TITLE
  	     , A.BOARD_CONTENT
  	     , A.BOARD_STATUS
  	     , A.BOARD_CATEGORY_NO
  	     , A.BOARD_UPDATED_DATE
  	     , A.BOARD_COUNT
  	     , A.MEMBER_NO
       	 , A.PROJECT_NO 
  	     , E.MEMBER_NAME
  	 FROM ( SELECT ROWNUM RNUM
  	             , B.BOARD_NO
  	             , B.BOARD_TITLE
  	             , B.BOARD_CONTENT
  	             , B.BOARD_STATUS
  	             , B.BOARD_CATEGORY_NO
  	             , B.BOARD_UPDATED_DATE
  	             , B.BOARD_COUNT
  	             , B.PROJECT_NO
  	             , B.MEMBER_NO
  	          FROM ( SELECT C.BOARD_NO
  	                      , C.BOARD_TITLE
  	                      , C.BOARD_CONTENT
  	                      , C.BOARD_STATUS
  	                      , C.BOARD_CATEGORY_NO
  	                      , C.BOARD_UPDATED_DATE
  	                      , C.BOARD_COUNT
  	                      , C.PROJECT_NO
  	                      , C.MEMBER_NO
  	                   FROM TBL_BOARD C
  	                  <where>
  	                  	<if test="searchCondition == 'title'">
  	                  		C.BOARD_TITLE LIKE '%' || #{ searchValue } || '%'
  	                  	</if>
  	                  	<if test="searchCondition == 'content'">
  	                  		C.BOARD_CONTENT LIKE '%' || #{ searchValue } || '%'
  	                  	</if>
  	                    AND C.BOARD_STATUS = 'Y'
  	                    AND C.BOARD_CATEGORY_NO = 3
  	                  </where>
  	                  ORDER BY C.BOARD_NO DESC
  	          		  ) B
  	          		  <![CDATA[
  	          		  WHERE ROWNUM <= #{ endRow }
  	          		  ]]>
  	 				) A
  	 		   JOIN TBL_MEMBER E ON (A.MEMBER_NO = E.MEMBER_NO)
  	 		  WHERE A.RNUM >= #{ startRow }
                AND A.PROJECT_NO = #{ projectNo }
  	 		  ORDER BY 1 ASC
  </select>
  
  <!-- 검색어 혹은 검색어가 없을 때 해당 게시글의 총 합 조회 -->
  <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
  	SELECT /* com.greedy.waterfall.board.model.guidemapper.GuideMapper#selectTotalCount() */
  		   COUNT(*)
  	  FROM TBL_BOARD A
  	 <where>
  	 	<if test="searchCondition == 'title'">
  	    	A.BOARD_TITLE LIKE '%' || #{ searchValue } || '%'
  	 	</if>
  	 	<if test="searchCondition == 'content'">
  	 		A.BOARD_CONTENT LIKE '%' || #{ searchValue } || '%'
  	 	</if>
  	   AND A.BOARD_STATUS = 'Y'
  	   AND A.BOARD_CATEGORY_NO = 3
  	   AND A.PROJECT_NO = #{ projectNo }
  	 </where>
  </select>
  
  <!-- 게시글 등록 -->
  <insert id="insertGuide" parameterType="com.greedy.waterfall.board.model.dto.GuideDTO">
  	INSERT /* com.greedy.waterfall.board.model.guidemapper.GuideMapper#insertGuide() */
  	  INTO TBL_BOARD A
  	(
	  A.BOARD_NO
	, A.BOARD_CATEGORY_NO
	, A.BOARD_TITLE
	, A.BOARD_CONTENT
	, A.PROJECT_NO
	, A.MEMBER_NO 	  
  	)
  	VALUES
  	(
  	  BOARD_NO.NEXTVAL
  	, 3 
  	, #{ title }
  	, #{ content }
	, #{ projectNo } 
	, #{ writerMemberNo }
  	)
  	<selectKey keyProperty="no" resultType="Integer" order="AFTER">
  		SELECT
  		       BOARD_NO.CURRVAL
  		  FROM DUAL
  	</selectKey>
  </insert>
  
  <!-- 게시글 첨부파일 등록   -->
  <insert id="insertGuideFile" parameterType="com.greedy.waterfall.board.model.dto.GuideFileDTO">
  	INSERT
  	  INTO TBL_FILE A
  	 (
  	   A.FILE_NO
  	 , A.REF_BOARD_NO
  	 , A.FILE_PATH
  	 , A.FILE_ORIGIN_NAME
  	 , A.FILE_RANDOM_NAME
  	 , A.FILE_CATEGORY_NO  
  	 )
  	 VALUES
  	(
  	  FILE_NO.NEXTVAL
  	, #{ refBoardNo }
  	, #{ savedPath }
  	, #{ originalName }
  	, #{ randomName }
  	, 3
  	)
  </insert>
  
  <!-- 게시글 삭제 -->
  <delete id="deleteGuide" parameterType="_int">
  	UPDATE /* com.greedy.waterfall.board.model.guidemapper.GuideMapper#deleteGuide() */
  	       TBL_BOARD A
  	   SET A.BOARD_STATUS = 'N'    
     WHERE A.BOARD_NO = #{ no }
  </delete>
  
  <!-- 게시글 수정 -->
  <update id="updateGuide" parameterType="com.greedy.waterfall.board.model.dto.GuideDTO">
  	UPDATE /* com.greedy.waterfall.board.model.guidemapper.GuideMapper#updateGuide() */
  	       TBL_BOARD A
  	   SET A.BOARD_TITLE = #{ title } 
  	     , A.BOARD_CONTENT = #{ content }
  	 WHERE A.BOARD_NO = #{ no }
  </update>
  
  <!-- 게시글 조회 수 -->
  <update id="incrementGuideCount">
      UPDATE 
               TBL_BOARD A
           SET A.BOARD_COUNT = (SELECT B.BOARD_COUNT
                                   FROM TBL_BOARD B
                                  WHERE B.BOARD_NO = #{ no }
                                ) + 1
         WHERE A.BOARD_NO = #{ no }
   </update>
  
  <!-- 게시글 조회 -->
  <select id="selectGuideDetailPlusFile" resultMap="guideResultMap">
      SELECT
               A.BOARD_NO
             , A.BOARD_UPDATED_DATE
             , A.BOARD_POSTING_DATE
             , A.BOARD_TITLE
             , A.BOARD_CONTENT
             , A.MEMBER_NO
             , B.MEMBER_NAME
             , A.BOARD_COUNT
             , A.BOARD_POSTING_DATE
             , A.BOARD_STATUS
             , A.PROJECT_NO
             , C.FILE_NO
             , C.FILE_ORIGIN_NAME
             , C.FILE_PATH
          FROM TBL_BOARD A
          LEFT JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
          LEFT JOIN TBL_FILE C ON (A.BOARD_NO = C.REF_BOARD_NO)
         WHERE A.BOARD_NO = #{ guideNo }
   </select>
   
   <!-- 첨부파일번호로 첨부파일 전체 정보를 조회한다. -->
	<select id="findFile" resultMap="fileResultMap">
        SELECT /* com.greedy.waterfall.board.model.mapper.GuideMapper#fineFile() */
               A.FILE_NO
             , A.FILE_PATH
             , A.FILE_ORIGIN_NAME
             , A.FILE_RANDOM_NAME
             , A.FILE_STATUS
             , A.REF_ISSUE_NO
             , A.REF_TASK_NO
             , A.REF_BOARD_NO
             , A.FILE_CATEGORY_NO
          FROM TBL_FILE A
         WHERE A.FILE_NO = #{ fileNo }
	</select>
	
	<!-- 게시글 내 첨부파일 삭제 -->
	<delete id="deleteGuideFile" parameterType="_int">
    DELETE /* com.greedy.waterfall.board.model.guidemapper.GuideMapper#deleteGuideFile() */
  	  FROM TBL_File A
     WHERE A.FILE_NO = #{ fileNo }
	</delete>
  	
  	<!-- 다운로드, 삭제 하기 위해서 첨부파일 조회 -->
  	<select id="searchGuideFile" parameterType="_int" resultType="object">
        SELECT
               B.FILE_NO
          FROM TBL_BOARD A
          JOIN TBL_FILE B ON (A.BOARD_NO = B.REF_BOARD_NO)
         WHERE A.BOARD_NO = #{ guideNo }
  	</select>
  	
</mapper>