<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.waterfall.project.model.mapper.ProjectMapper">
	<resultMap type="com.greedy.waterfall.project.model.dto.ProjectDTO" id="projectResult">
		<id property="no" column="PROJECT_NO"/>
		<result property="name" column="PROJECT_NAME"/>	
		<result property="startDate" column="PROJECT_START_DATE"/>
		<result property="deadLine" column="PROJECT_DEADLINE"/>
		<result property="progression" column="PROJECT_PROGRESSION"/>
		<result property="status" column="PROJECT_STATUS"/>
		<result property="completed" column="PROJECT_COMPLETED_DATE"/>
		<result property="statusCode" column="PROJECT_PROGRESS_STATUS_CODE"/>
		
		<association property="member" resultMap="memberResult"></association>
	</resultMap>
	<resultMap type="com.greedy.waterfall.project.model.dto.RegistProjectDTO" id="registProjectResult">
		<id property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_NAME"/>	
		<result property="startDate" column="PROJECT_START_DATE"/>
		<result property="deadLine" column="PROJECT_DEADLINE"/>
		<result property="pmNumber" column="MEMBER_NO"/>
		<result property="pmName" column="MEMBER_NAME"/>
		<result property="projectStatusCode" column="PROJECT_PROGRESS_STATUS_CODE"/>
		<result property="progression" column="PROJECT_PROGRESSION"/>
		<result property="dept" column="DEPT_CODE"/>
		<result property="team" column="TEAM_CODE"/>
		<result property="adminNo" column="MANAGER_NO"/>
	</resultMap>
	<resultMap type="com.greedy.waterfall.board.model.dto.MeetingMemberDTO" id="memberResult">
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>

	<resultMap type="com.greedy.waterfall.project.model.dto.DeptDTO" id="deptResult">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
	</resultMap>
	<resultMap type="com.greedy.waterfall.project.model.dto.BoardCategoryDTO" id="boardCategoryResult">
		<id property="projectNo" column="PROJECT_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
	</resultMap>
	
	<resultMap type="com.greedy.waterfall.project.model.dto.TeamDTO" id="teamResult">
		<id property="teamCode" column="TEAM_CODE"/>
		<result property="teamName" column="TEAM_NAME"/>
		<result property="deptCode" column="DEPT_CODE"/>
	</resultMap>
	
	<resultMap type="com.greedy.waterfall.project.model.dto.ProjectStatusDTO" id="projectStatusResult">
		<id property="statusCode" column="PROJECT_PROGRESS_STATUS_CODE"/>
		<result property="statusName" column="PROJECT_PROGRESS_STATUS_NAME"/>
	</resultMap>
	
	<resultMap type="com.greedy.waterfall.member.model.dto.MemberDTO" id="memberResultMap">
		<id property="no" column="MEMBER_NO"/>
		<result property="name" column="MEMBER_NAME"/>
	</resultMap>
	<resultMap type="com.greedy.waterfall.board.model.dto.BoardDTO" id="boardResult">
	 	<id property="no" column="BOARD_NO"/>
	 	<result property="updatedDate" column="BOARD_UPDATED_DATE"/>
	 	<result property="registedDate" column="BOARD_POSTING_DATE"/>
	 	<result property="title" column="BOARD_TITLE"/>
	 	<result property="content" column="BOARD_CONTENT"/>
	 	<result property="status" column="BOARD_STATUS"/>
	 	<result property="boardCategoryNo" column="BOARD_CATEGORY_NO"/>
	 	<result property="projectNo" column="PROJECT_NO"/>
	 	<result property="memberNo" column="MEMBER_NO"/>
	 	<result property="boardCount" column="BOARD_COUNT"/>
	 	
	 	<association property="member" resultMap="memberResultMap" />
	 	<collection property="file" resultMap="fileResultMap"/>
 	</resultMap>
	
 	<resultMap type="com.greedy.waterfall.board.model.dto.FileDTO" id="fileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileOriginName" column="FILE_ORIGIN_NAME"/>
		<result property="fileRandomName" column="FILE_RANDOM_NAME"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="refIssueNo" column="REF_ISSUE_NO"/>
		<result property="refTaskNo" column="REF_TASK_NO"/>
		<result property="refBoardNo" column="REF_BOARD_NO"/>
		<result property="fileCategoryNo" column="FILE_CATEGORY_NO"/>
	</resultMap>
	
	
	
	<select id="findAllManageProjectCount" resultType="_int" parameterType="hashmap">
        SELECT
        	COUNT(*)
         FROM TBL_ROLE_ASSIGNMENT_HISTORY A
          JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
          JOIN TBL_PROJECT C ON (A.PROJECT_NO = C.PROJECT_NO)
  		<where>
        	<if test="searchCondition == 'projectName'">   
                C.PROJECT_NAME LIKE '%' || #{ searchValue } || '%'
           	</if>
            <if test="searchCondition == 'pmName'">           
                B.MEMBER_NAME LIKE '%' || #{ searchValue } || '%'
           </if>	
           AND A.ROLE_NO = 8
           AND C.PROJECT_STATUS = 'Y'
		</where>
	</select> 	
 	
	<select id="findTeam" resultMap="teamResult">
        SELECT
               A.TEAM_CODE
             , A.TEAM_NAME
          FROM TBL_TEAM A
         WHERE A.DEPT_CODE = #{ deptCode }
	</select>
	
	<select id="findTeamMember" resultMap="memberResultMap">
        SELECT
               B.MEMBER_NO
             , B.MEMBER_NAME
          FROM TBL_MEM_TEAM_HISTORY A
          JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
         WHERE A.TEAM_UPDATED_NAME = #{ teamCode }
           AND A.TEAM_MEM_HISTORY_NO IN (SELECT MAX(C.TEAM_MEM_HISTORY_NO)
                                           FROM TBL_MEM_TEAM_HISTORY C
                                          GROUP BY C.MEMBER_NO
                                          )
	</select>
	
	
	
	<select id="findAllProjectStatus" resultMap="projectStatusResult">
        SELECT
               A.PROJECT_PROGRESS_STATUS_CODE
             , A.PROJECT_PROGRESS_STATUS_NAME
          FROM TBL_PROJECT_STATUS A
	</select>
	<select id="findAllDept" resultMap="deptResult">
        SELECT
               A.DEPT_CODE
             , A.DEPT_NAME
          FROM TBL_DEPT A
	</select>
	
	<select id="findAllManageProject" resultMap="projectResult">
        SELECT 
               RNUM
             , A.PROJECT_NO
             , A.PROJECT_NAME
             , A.PROJECT_START_DATE
             , A.PROJECT_DEADLINE
             , A.PROJECT_PROGRESSION
             , A.PROJECT_STATUS
             , A.PROJECT_COMPLETED_DATE
             , A.PROJECT_PROGRESS_STATUS_CODE
             , A.MEMBER_NAME
          FROM (SELECT ROWNUM RNUM 
                     , B.PROJECT_NO
                     , B.PROJECT_NAME
                     , B.PROJECT_START_DATE
                     , B.PROJECT_DEADLINE
                     , B.PROJECT_PROGRESSION
                     , B.PROJECT_STATUS
                     , B.PROJECT_COMPLETED_DATE
                     , B.PROJECT_PROGRESS_STATUS_CODE
                     , B.MEMBER_NAME
                  FROM (SELECT C.PROJECT_NO
                             , C.PROJECT_NAME
                             , C.PROJECT_START_DATE
                             , C.PROJECT_DEADLINE
                             , C.PROJECT_PROGRESSION
                             , C.PROJECT_STATUS
                             , C.PROJECT_COMPLETED_DATE
                             , C.PROJECT_PROGRESS_STATUS_CODE
                             , E.MEMBER_NAME
                          FROM TBL_PROJECT C
                          JOIN TBL_ROLE_ASSIGNMENT_HISTORY D ON (C.PROJECT_NO = D.PROJECT_NO)
                          JOIN TBL_MEMBER E ON(D.MEMBER_NO = E.MEMBER_NO)
						<where>  
                        	<if test="searchCondition == 'projectName'">
                               C.PROJECT_NAME LIKE '%' || #{ searchValue } || '%'
                          	</if>  
                          	<if test="searchCondition == 'pmName'">
                               E.MEMBER_NAME LIKE '%' || #{ searchValue } || '%'
                          	</if>
          		           AND D.ROLE_NO = 8
                           AND C.PROJECT_STATUS = 'Y'
        				</where>
                         ORDER BY C.PROJECT_NO
                       ) B
				<![CDATA[
                 WHERE ROWNUM <= #{ endRow }      
				]]>
               ) A
         WHERE RNUM >= #{ startRow }	
	</select> 
	<select id="findAllRemovedProject" resultMap="projectResult">
        SELECT 
               A.PROJECT_NO
             , A.PROJECT_NAME
             , A.PROJECT_START_DATE
             , A.PROJECT_DEADLINE
             , A.PROJECT_PROGRESSION
             , A.PROJECT_STATUS
             , A.PROJECT_COMPLETED_DATE
             , A.PROJECT_PROGRESS_STATUS_CODE
             , C.MEMBER_NAME
          FROM TBL_PROJECT A
          JOIN TBL_ROLE_ASSIGNMENT_HISTORY B ON (A.PROJECT_NO = B.PROJECT_NO)
          JOIN TBL_MEMBER C ON(B.MEMBER_NO = C.MEMBER_NO)
         WHERE B.ROLE_NO = 8
           AND A.PROJECT_STATUS = 'N'
	</select> 
	
	<select id="findManagaProject" resultMap="projectResult">
            SELECT 
               A.PROJECT_NO
             , A.PROJECT_NAME
             , A.PROJECT_START_DATE
             , A.PROJECT_DEADLINE
             , A.PROJECT_PROGRESSION
             , A.PROJECT_STATUS
             , A.PROJECT_COMPLETED_DATE
             , A.PROJECT_PROGRESS_STATUS_CODE
             , C.MEMBER_NAME
          FROM TBL_PROJECT A
          JOIN TBL_ROLE_ASSIGNMENT_HISTORY B ON (A.PROJECT_NO = B.PROJECT_NO)
          JOIN TBL_MEMBER C ON(B.MEMBER_NO = C.MEMBER_NO)
         WHERE B.MEMBER_NO = #{ no }
          AND B.ROLE_HISTORY_NO IN (SELECT MAX(C.ROLE_HISTORY_NO)
                                      FROM TBL_ROLE_ASSIGNMENT_HISTORY C
                                     WHERE C.ROLE_NO = 8
                                     GROUP BY C.PROJECT_NO 
                                   )
           AND B.ROLE_NO = 8
           AND A.PROJECT_STATUS = 'Y'
	</select>
 
	<select id="findJoinProject" resultMap="projectResult">
        SELECT 
               A.PROJECT_NO
             , A.PROJECT_NAME
             , A.PROJECT_START_DATE
             , A.PROJECT_DEADLINE
             , A.PROJECT_PROGRESSION
             , A.PROJECT_STATUS
             , A.PROJECT_COMPLETED_DATE
             , A.PROJECT_PROGRESS_STATUS_CODE
             , C.MEMBER_NAME
          FROM TBL_PROJECT A
          JOIN TBL_ROLE_ASSIGNMENT_HISTORY B ON (A.PROJECT_NO = B.PROJECT_NO)
          JOIN TBL_MEMBER C ON(B.MEMBER_NO = C.MEMBER_NO)
         WHERE A.PROJECT_NO IN (SELECT D.PROJECT_NO
                                  FROM TBL_ROLE_ASSIGNMENT_HISTORY D
                                 WHERE D.MEMBER_NO =  #{ no }
                                   AND D.ROLE_HISTORY_NO  NOT IN (SELECT MAX(E.ROLE_HISTORY_NO)
                                                              FROM TBL_ROLE_ASSIGNMENT_HISTORY E
                                                             WHERE E.ROLE_NO = 8
                                                             GROUP BY E.ROLE_HISTORY_NO 
                                                           )
                                   
                               )
           AND B.ROLE_NO = 8
           AND A.PROJECT_STATUS = 'Y'        
         ORDER BY A.PROJECT_NO DESC
 	</select>
	

	<insert id="registProject">
		<selectKey keyProperty="projectNo" resultType="_int" order="AFTER">
        SELECT
               PROJECT_NO.CURRVAL AS projectNumber
          FROM DUAL
		</selectKey>
        INSERT
          INTO TBL_PROJECT A
        (
          A.PROJECT_NO
        , A.PROJECT_NAME
        , A.PROJECT_START_DATE
        , A.PROJECT_DEADLINE
        , A.PROJECT_PROGRESSION
        , A.PROJECT_STATUS
        , A.PROJECT_PROGRESS_STATUS_CODE 
        )
        VALUES
        (  
          PROJECT_NO.NEXTVAL
        , #{ projectName }
        , #{ startDate }
        , #{ deadLine }
        , 0
        , 'Y'
        , #{ projectStatusCode }
        )
	</insert>
	
	<insert id="registProjectHistory">
        INSERT
          INTO TBL_PROJECT_HISTORY A
        (
          A.PROJECT_HISTORY_NO
        , A.PROJECT_NO
        , A.PROJECT_UPDATED_CONTENT
        , A.PROJECT_UPDATED_DATE
        , A.MEMBER_NO
        , A.PROJECT_UPDATED_CODE
        , A.PROJECT_PROGRESS_STATUS_CODE
        , A.TASK_MEM_HISTORY_NO
        )
        VALUES
        (
          PROJECT_HISTORY_NO.NEXTVAL
        , #{ projectNo }
        , '생성'
        , SYSDATE
        , 1
        , 1
        , 'COMPLETE'
        , NULL
        )
	</insert>
	
	<insert id="registPm">
        INSERT
          INTO TBL_ROLE_ASSIGNMENT_HISTORY A
        (
          A.ROLE_HISTORY_NO
        , A.MEMBER_NO
        , A.ROLE_NO
        , A.PROJECT_NO
        , A.MANAGER_NO
        )
        VALUES
        (
          ROLE_HISTORY_NO.NEXTVAL
        , #{ pmNumber }
        , 8
        , #{ projectNo }
        , 1
        )
	</insert>
	<insert id="registMemberProject">
        INSERT
          INTO TBL_PROJECT_MEM_HISTORY A
        (
          A.PROJECT_MEM_HISTORY_NO
        , A.PROJECT_MEM_STARTED_DATE
        , A.PROJECT_MEM_DROP_DATE
        , A.MEMBER_NO
        , A.PROJECT_NO
        , A.MANAGER_NO
        )
        VALUES
        (
          PROJECT_MEM_HISTORY_NO.NEXTVAL
        , #{ startDate }
        , null
        , #{ pmNumber }
        , #{ projectNo }
        , 1
        )
	</insert>
	<select id="findPmNumber" resultType="_int">
        SELECT /* com.greedy.waterfall.project.model.mapper.ProjectMapper#findPmNumber() */
               A.MEMBER_NO
          FROM TBL_ROLE_ASSIGNMENT_HISTORY A
         WHERE PROJECT_NO = #{ projectNo }
           AND A.ROLE_HISTORY_NO = (SELECT MAX(B.ROLE_HISTORY_NO) 
                                      FROM TBL_ROLE_ASSIGNMENT_HISTORY B 
                                     WHERE B.PROJECT_NO = #{ projectNo }            
                                       AND ROLE_NO = 8
                                   )
	</select> 
 	
	<select id="findOneProjectInfo" resultMap="registProjectResult">
        SELECT  /* com.greedy.waterfall.project.model.mapper.ProjectMapper#findOneProjectInfo() */
               A.PROJECT_NO
             , A.PROJECT_NAME
             , A.PROJECT_START_DATE 
             , A.PROJECT_DEADLINE 
             , A.PROJECT_PROGRESS_STATUS_CODE
             , A.PROJECT_PROGRESSION
             , C.MEMBER_NO
             , C.MEMBER_NAME
          FROM TBL_PROJECT A
          JOIN TBL_ROLE_ASSIGNMENT_HISTORY B ON (A.PROJECT_NO = B.PROJECT_NO)
          JOIN TBL_MEMBER C ON (B.MEMBER_NO = C.MEMBER_NO)
         WHERE B.ROLE_HISTORY_NO IN (SELECT MAX(D.ROLE_HISTORY_NO) 
                                       FROM TBL_ROLE_ASSIGNMENT_HISTORY D
                                      WHERE D.ROLE_NO = 8
                                      GROUP BY D.PROJECT_NO
                                    )
           AND A.PROJECT_NO = #{ projectNo } 
	</select>
	<update id="modifyProject" >
        UPDATE
               TBL_PROJECT A
           SET A.PROJECT_NAME = #{ projectName }
             , A.PROJECT_START_DATE = #{ startDate }
             , A.PROJECT_DEADLINE = #{ deadLine }
             , A.PROJECT_PROGRESSION = #{ progression }
             , A.PROJECT_PROGRESS_STATUS_CODE = #{ projectStatusCode }
         WHERE A.PROJECT_NO = #{ projectNo }
	</update>
	
	
	
	<select id="findMemberInProject" resultType="Integer">
        SELECT 
               A.MEMBER_NO
          FROM TBL_PROJECT_MEM_HISTORY A
         WHERE A.MEMBER_NO = #{ pmNumber }
           AND A.PROJECT_NO = #{ projectNo }
           AND A.PROJECT_MEM_DROP_DATE = NULL
	</select>
	<insert id="joinPmInProject">
        INSERT
          INTO TBL_PROJECT_MEM_HISTORY A
        (
          A.PROJECT_MEM_HISTORY_NO
        , A.PROJECT_MEM_STARTED_DATE
        , A.PROJECT_MEM_DROP_DATE
        , A.MEMBER_NO
        , A.PROJECT_NO
        , A.MANAGER_NO
        )
        VALUES
        (
          PROJECT_MEM_HISTORY_NO.NEXTVAL
        , SYSDATE
        , NULL
        , #{ pmNumber }
        , #{ projectNo }
        , #{ adminNo }
        )        
	</insert>

	<insert id="assignPmRole">
        INSERT
          INTO TBL_ROLE_ASSIGNMENT_HISTORY A
        (
          A.MEMBER_NO
        , A.ROLE_NO
        , A.PROJECT_NO
        , A.ROLE_HISTORY_NO
        , A.MANAGER_NO
        )
        VALUES
        (
          #{ pmNumber }
        , 8
        , #{ projectNo }
        , ROLE_HISTORY_NO.NEXTVAL
        , #{ adminNo }
        )	
	</insert>
	<update id="kickOldPm">
        UPDATE
               TBL_PROJECT_MEM_HISTORY A
           SET A.PROJECT_MEM_DROP_DATE = SYSDATE
         WHERE A.PROJECT_NO = #{ projectNo }
           AND A.MEMBER_NO = #{ pmNumber }
	</update>

	<update id="removeProject">
        UPDATE
               TBL_PROJECT A
           SET A.PROJECT_STATUS = 'N'
         WHERE A.PROJECT_NO = #{ projectNo }
	</update>
	
	<update id="restoreProject">
        UPDATE
               TBL_PROJECT A
           SET A.PROJECT_STATUS = 'Y'
         WHERE A.PROJECT_NO = #{ projectNo }
	</update>
	<delete id="deleteProject">
        DELETE
          FROM TBL_PROJECT A
         WHERE A.PROJECT_NO = #{ projectNo }
	</delete>
	
	
	<select id ="findMainBoardList" resultMap="boardResult" parameterType="_int">
        SELECT 
               RNUM
             , A.BOARD_NO
             , A.BOARD_UPDATED_DATE
             , A.BOARD_POSTING_DATE
             , A.BOARD_TITLE
             , A.BOARD_CONTENT
             , A.BOARD_STATUS
             , A.BOARD_CATEGORY_NO
             , A.PROJECT_NO
             , A.MEMBER_NO
          FROM (SELECT ROWNUM RNUM
                     , B.BOARD_NO
                     , B.BOARD_UPDATED_DATE
                     , B.BOARD_POSTING_DATE
                     , B.BOARD_TITLE
                     , B.BOARD_CONTENT
                     , B.BOARD_STATUS
                     , B.BOARD_CATEGORY_NO
                     , B.PROJECT_NO
                     , B.MEMBER_NO
                  FROM TBL_BOARD B
                 WHERE B.PROJECT_NO = #{ projectNo }
                           AND B.BOARD_CATEGORY_NO = #{ categoryNo }
                   AND B.BOARD_STATUS = 'Y'
                 ORDER BY B.BOARD_NO DESC
               ) A         
         		<![CDATA[ 
         WHERE RNUM <= 5  
		]]>
	</select>
	
	<select id="findBoardInfo" resultMap="boardResult">
        SELECT
               A.BOARD_NO
             , A.BOARD_CATEGORY_NO
             , A.BOARD_TITLE
             , A.BOARD_CONTENT
             , B.MEMBER_NAME
             , C.FILE_NO
             , C.FILE_ORIGIN_NAME
          FROM TBL_BOARD A
          JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
          LEFT JOIN TBL_FILE C ON (A.BOARD_NO = C.REF_BOARD_NO) 
         WHERE A.BOARD_NO = #{ boardNo }
	</select>
	
</mapper>






























