<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.waterfall.test.model.dao.TestMapper">
	<resultMap type="TestDTO" id="testResult">
		<id property="no" column="TEST_NO"/>
		<result property="name" column="TEST_NAME"/>
	</resultMap>
	
	<select id="findList" resultMap="testResult">
        SELECT
               A.TEST_NO
             , A.TEST_NAME
          FROM TBL_TEST A
	</select>
</mapper>

